.header {
  padding: 1rem 0 2rem 0;
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 36px;
  box-shadow: rgb(34 51 84 / 90%) 0px 2px 4px -3px, rgb(34 51 84 / 5%) 0px 5px 12px -4px;
}

.main {
  display: block;
  margin: 0 auto;
  padding-bottom: 200px;
}

.textellipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 0;
  background-color: rgb(17, 25, 42);
  border-top: 6px solid rgb(2, 177, 253);
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
}
